header{
    background-color: grey;
    /* display: grid; */
    grid-template-areas: 
        "logo titulo titulo registro"
        "logo navppal oferta  oferta";
    grid-template-columns: 2fr 6fr 2fr 2fr;
    grid-template-rows: 100px 100px;
    gap: 5px;
    padding: 5px;
}

header div.oferta{
    /* border: 1px solid black; */
    background-color: black;
    color: white;
    grid-area: oferta;
}

header figure{
    
    background-color: orange;
    grid-area: logo;
}

header h1{
    background-color: yellow;
    grid-area: titulo;
}
header div{
    background-color: red;
    grid-area: registro;
}

header nav {
    background-color: pink;
    grid-area: navppal;
}
