*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
header{
    background-color: grey;
    display: grid;
    grid-template-areas: 
        "oferta oferta oferta"
        "logo titulo titulo"
        "navppal navppal registro";
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-rows: 30px 100px 50px;
    gap: 5px;
    padding: 5px;
}
header div.oferta{
    /* border: 1px solid black; */
    background-color: black;
    color: white;
    grid-area: oferta;
}

header figure{
    background-color: orange;
    grid-area: logo;
}

header h1{
    background-color: yellow;
    grid-area: titulo;
}
header div{
    background-color: red;
    grid-area: registro;
}

header nav {
    background-color: pink;
    grid-area: navppal;
}