*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

header{
    background-color: rgb(209, 202, 245);
}
nav.redes{
    border:1px solid black;
    display: flex;
    text-align: center;
    align-items: center;
}