*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

header{
    background-color: rgb(209, 202, 245);
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
    gap: 15px;
}
nav.redes{
    /* border:1px solid rgb(0, 0, 0); */
    text-align: center;
}

div.login {
    border: 1px solid black;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: 80px;
}
figure{
    width: 100%;
}
nav.info {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}
nav div.lugar{
    /* border: 1px solid black; */
    background-color: rgb(211, 211, 211);
    width: 35%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

nav div.correo{
    /* border: 1px solid black; */
        background-color: rgb(211, 211, 211);
    width: 35%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
a.menu {
    /* border:1px solid black; */
    margin-left: auto;    
}

nav.seccion{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;
}
