header {
    display: grid;
    grid-template-columns: 25% 60% 20%;
    grid-template-rows: auto;
    /* justify-content: space-between; */
    align-items: center;
    gap: ;
}
header h1{
    grid-row: 1/2;
    grid-column: 1/2
    /* border:1px solid black; */
}
header nav{ 
    grid-row: 1/2;
    grid-column: 2/;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
}
header button{
    grid-row: 1/2;
    grid-column: 3/4;
    border: 1px solid black;
    margin-right: 40px;
    margin-left:10px;
}

main{
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-template-rows: auto auto;
    
}
main nav{
    
    grid-column: 1/2;
    grid-row: 1/3;
}
main section{
    grid-column:2/3;
    grid-row: 1/2;
}
main aside{
    grid-row: 2/3;   grid-column: 2/3
}

footer{
    display: grid;
    grid-template-columns: 40% 40% 1fr;
    grid-template-rows: auto auto;
    text-align: start;
}

footer #siguenos{
    border:1px solid black;
    grid-column: 1/2;
    grid-row: 1/2;
}

footer #contacto{
    border:1px solid black;
    grid-column: 2/3;
    grid-row: 1/2;
}



/* header{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} */
/* header nav{
    flex-direction: row;
    gap: 45px ;
    border: 0px solid blue;

} */

/* header nav a{

    border-radius: 5px;
} */

        /* header figure{
            display: none;
        } */

        /* main {
            display: grid;
            grid-template-columns: 25% 1fr;
            grid-template-rows: auto auto;
            gap: 10px;
        }
        main nav {
            grid-column: 1/2;
            grid-row: 1/3;
            margin: 20px;

        }
        main section{
            grid-column: 2/3;
            grid-row: 1/2;
        }
        main aside {
            grid-column: 2/3;
            grid-row: 2/3;
            
        }
        footer{
            display: grid;
            grid-template-columns: 40% 40%;
            grid-template-rows: auto auto;
        }
        footer h2#siguenos{
            grid-column: 1/2;
            grid-row: 1/2;
            width: 100px;
            margin-top: 50px;
        }
        footer h2#contacto{
            grid-column: 2/3;
            grid-row: 1/2;
            margin-top: 30px;

        }

        footer nav {
            grid-column: 1/2;
            grid-row: 2/3;
            margin-top: 50px;

        }
        footer div {
            grid-column: 2/3;
            grid-row: 2/3; */