* { /*poner a 0 0los margin y padding de todos los elementos*/
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*modelo de cajas*/

}

body {
    min-height: 100vh; /* altura minima del body al 100% de la ventana*/
    border: 0px solid black;
    background-color: aqua;
    height: 100vh; /*altura del body al 100% de la ventana*/
    /*min-height: 100vh; /* altura mínima del body al 100% de la ventana*/
    /*max-height: 100vh; /* altura máxima del body al 100% de la ventana*/
    /*width: 50vw;
    /*min-width: 100vh; ancho mínima del body al 100% de la ventana
    /*max-height: 100vh; /* ancho máximo del body al 100% de la ventana*/
}

/* h1 {Selectores de clase */
    /* color: white; */
/* } */

header {
    height: 12vh; /*medidas absolutas*/
    background-color: blue;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-betweens; 

}

header figure {
    border: 2px solid red;
    height: 100%;
    /* display: inline-block; */
}

header figure img {
    height: 90px;
}

/*selector descendiente*/
header h1 {
    color: white;
    text-align: center;
    /* display: inline-block; */
    /* border: 1px solid white; */
}

header nav {
    border: 2px black;
    text-align: center;
    /* display: inline-block; */

    /* padding: 10px; */
}
 
header nav a {
    /* border: 1px solid green; */
    color: green;
    margin-right: 10px;
    text-decoration: none;
    font-size: 20px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
}

header nav a:hover {
    text-decoration: underline; /*subrayado al pasar el raton*/
}
main {
    height: 80vh;
    background-color: aliceblue;
}

footer {
    height: 10vh;
    background-color: grey;
}

