*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

header{
    background-color: rgb(209, 202, 245);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}
nav.redes{
    /* border:1px solid rgb(0, 0, 0); */
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    gap: 30px;
}
nav.redes a{
    /* border:1px solid rgb(0, 0, 0); */
    text-decoration: none;
    color: rgb(73, 78, 83);

}
div.telefono {
    /* border: 1px solid black; */
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
}
nav.login  {
    /* border: 1px solid black; */
    flex-basis: 30%;
}
nav.login a{
    text-decoration: none;
}
div.telefono a{
    text-decoration: none;

}
nav.llamamos a{
    /* border: 1px solid black; */
    text-decoration: none
    /* flex-basis: 30%; */
}

figure img{
    width: 80%;
}
nav.info {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    flex-basis: 100%;
    gap: 10px;
}
nav div.lugar{
    /* border: 1px solid black; */
    background-color: rgb(211, 211, 211);
    /* flex-basis: 35%; */
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

nav div.correo{
    /* border: 1px solid black; */
    background-color: rgb(211, 211, 211);
    /* width: 35%; */
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
a.menu {
    /* border:1px solid black; */
    font-size: 20px;
    margin-left: auto;    
    margin-right: 25px;
}

nav.seccion{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    /* flex-basis: 100%; */
    margin-left: 35px;
    flex-basis: 80%;
    gap: 10px;
    margin-bottom: 25px;
}
nav.seccion a {
    /* font-size: 15px; */
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}
