*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 300vh;
}
header{
    background-color: black;
    display: flex;
    flex-direction: wrap;
    flex-wrap: nowrap;
    height: 20vh;
    justify-content: space-around;
}
header figure{
    flex-basis: 10%;
    height: 100%;
}
header figure #logo{
    height: 100%;
}

header h1{
    flex-basis: 35%;
    /* border:1px solid white; */
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-weight: bold;
    margin-left: 30px;
}
header nav{
    /* border: 1px solid white; */
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    
}
header nav button{
    color: white;
    font-size: 15px;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;

    
}

header nav button:hover{
    color: rgb(229, 255, 152);
    transform: translateY(-2px);

}
main {
    flex-basis: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main section{ 
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    flex-basis: 80%;
    width: 80%;


} 


main #catalogo article{ 
    flex-basis: 20%;
    /* border: 1px solid black; */
    display: flex; 
    flex-direction: column;
    flex-wrap: nowrap;

    position: relative;
    border-radius: 14px;
    padding: 20px;
    transform: translateY(-2px);

}


main #catalogo article:hover{
    background-color: rgb(204, 246, 200);;
    /* color: rgb(229, 255, 152); */
    transform: translateY(-10px);
    box-shadow: 0px 4px 10px rgba(0,0,0,0.25);


}


main section article .badge{
    position: absolute; 
    top: 5px;
    left: 5px;
    background-color: rgb(165, 1, 102);
    color: whitesmoke;
    padding: 5px 10px;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 600;
    width: 50%;
}
main section article figure img{
    height: 300px;
}
main #catalogo article p.titulo{
    margin-top: 10px;
    font-size:20px;
    font-weight: bold;

}
main #catalogo article p{
    font-size:20px;

}

main #catalogo article div{
    display: flex;
    margin-top: 10px;
    font-size:20px;
    font-weight: bold;

}
main #catalogo article div button{
    color: white;
    background-color: green;
    padding: 5px;
    font-size:20px;
    margin-left: 100px;
    flex-basis: 50%;
    border-radius: 5px;
    cursor: pointer;

}


footer{
    flex-basis:10%;
    background-color: black;
    text-align: center;

}
footer #redes{
    /* height: 100%; */
    margin-top: 25px;
    margin-bottom: 25px;
    /* border:1px solid white; */
    align-items: center;
    
    
}
footer p{    
    font-size: 20px;
    color:white;
    margin-bottom: 5px;
}
footer a{
    font-size: 20px;
    margin: 10px;
    color: white
}