* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* el alto seria la suma de los altos de los hijos */
    height: 300vh; /* altura fija de la ventana del navegador */

}

header{
    background-color: black;
    flex-basis: 5%;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
header div#menu{
    border: 0px solid white;
    color: white;
    flex-basis: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
header #menu i{
    color: white;
    font-size: 20px

}
header figure{ 
    /* border: 1px solid white; */
    color: white;
    flex-basis: 20%;
}
header nav{
    /* border: 1px solid white; */
    color: white;
    flex-basis: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
header nav a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header nav a:hover{
    color: rgb(218,253,11)

}
header form{
    flex-basis: 25%;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;

}
header form input{
    /* background-color: white; */
    padding: 8px;
    border-radius: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header #carrito{
    color: white;
    flex: 10%; 
    display: flex;
    flex-direction: row; /* ejej principal */
    flex-wrap: nowrap;   
    justify-content: space-around; /* alineacion en eje principal */
    align-items: center; /* alineacion en eje secundario */
}
header #carrito i{
    font-size: 25px;
    color: green;
}
/*
--elementos de linea: img, a, span, i input
--elementos de bloque: el resto de etiquetas de este codigo
*/
main{
    background-color: white;
    flex-basis: 65%;
}
main section{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
main section article{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    flex-basis: 20%; /*alto o ancho segun el flex-direction del padre*/
    position: relative;
    
    border-radius: 14px;
    box-shadow: 0 4px 12px;
}
main section article p{
    color: red;
}
/*Si hay algun padre con position relative, el top y left del elemento */
main section article .badge{
    position: absolute; /*Uso particular:efectos especiales*/
    top: 5px;
    left:5px;
    background-color: #bd2f6f;
    color: whitesmoke;
    border-radius: 7px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 600;
    width: 40%;
    z-index: 10; /* profundidad atras/adelant*/
}
main section article .nombre{
    color: blue;
}
main section article figure{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 150px;
    position: relative;
}
main section article figure img{
    border: 1px solid black;
    height: 100%;
    position: absolute;
    top: 0px;
}
main section article p{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100% ;
}
main section article .nombre{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main section article p .star i{
    font-size: 10px;
    color: yellow;
}
main section article p .valoracion{
    font-size: 10px;
    color: red;
    margin-right: 3px;
}
main section article p .opiniones{
    font-size: 10px;
    color: green;
}
main section article div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
main section article div .dto{
    background-color: green;
    color: black;
    padding: 2px;
    border-radius: 7px;
    font-size: 12px;
}
main section article div .precios{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
main section article div .pvr
footer{
    background-color: black;
    flex-basis: 30%;
    display: flex;
    flex-direction: row ;   
    flex-wrap: wrap;
}
    

footer nav#sociales{
    border:1px solid black;
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 30px;
 }
footer nav#sociales a { /* estado reposo*/
    text-decoration: none;
    border: 1px solid black;
    background-color: lightgreen;   
/*elemento en linea pero con propiedades en bloque*/
    display: inline-block;

    width: 50px;
    height: 50px;
    border-radius: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: transform 0.3s ease-in-out;
  
}
/* footer nav#sociales a:nth-child(1){
    margin-left: 30px;
} */
/*estado sobre*/
footer nav#sociales a:hover {
    transform: translate(0px, -10px);
    transform: rotate(360deg);
}
footer nav#sociales a i{
    font-size: 30px;
    color: white;
}
footer nav#suscribete{
    border: 1px solid black;
    flex-basis: 50%;
}
footer article{
    border: 1px solid black;
    flex-basis: 33%;
    padding-top: 20px;
    
}
footer article h3{
    color: white;
    text-transform: uppercase;
    margin-left: 15px;
    margin-bottom: 20px;
}
footer article nav{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}
footer article nav a{
    color: white;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-bottom:10px ;

}